.input-container {
    padding: 10px;
    color: $normal-font-color;

    .input_label {
        width: 15%;
        text-align: right;
        padding-right: 10px;
        color: $normal-font-color;
    }

    .form-control {
        display: inline-block !important;
        width: 20% !important;

        &.long {
            width: 60% !important;
        }

        &.medium {
            width: 40% !important;
        }

        &.short {
            width: 20% !important;
        }
    }

    .error{
        color: $red;
    }

    .required::after{
        content: '  *';
        color: $red;
        font-size: 30px;
        display: inline-block;
        line-height: 30px;
        vertical-align: bottom;
        padding: 0 5px;
    }
}

.select-container {
    @extend .input-container;

    .custom-select {
        display: inline-block;
        width: 20%;
        vertical-align: middle;
    }
}

.register-operators {
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
    font-size: 16px;
}


.login-form-conatainer {
    .login-form-overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.4;
        top: 0;
        left: 0;
    }

    .login-form {
        position: fixed;
        top: calc(50vh - 150px);
        left: calc(50% - 180px);
        width: 360px;
        padding: 30px 50px;
        background: #fff;
        z-index: 2;

        .glyphicon.glyphicon-remove{
            position: absolute;
            right: 20px;
            top: 15px;
            color: $normal-font-color;
            font-size: 20px;
            font-weight: lighter;

            &:hover{
                color: $primary-color;
            }
        }

        .title {
            text-align: center;
            padding: 10px;
            font-size: 25px;
            color: $primary-color;
            font-weight: bold;
        }

        input {
            margin-bottom: 20px;
            height: 40px;
        }

        .login-btn {
            width: 100%;
            padding: 5px;
            height: 40px;
            font-size: 22px;
            margin-bottom: 20px;
        }

        .no-account {
            text-align: right;
            color: $normal-font-color;

            &>a:first-child{
                float: left;
            }
        }
    }
}

.create-user-container {
    padding: 20px 0;

    .input-container {
        width: 80%;
        display: inline-block;

        .form-control {
            width: 40% !important;
        }
    }

    .create-user-operators {
        text-align: center;
        margin-top: 20px;
    }
}

.change-password-container {
    padding: 20px 0;

    .instruction {
        padding: 0 0 0 35%;
        color: $normal-font-color;
        font-size: 12px;
    }

    .input-container {
        padding: 10px 0 10px 22.5%;
    }

    .error {
        font-size: 10px;
        color: $red;
        padding: 0 0 0 35%;
    }

    .change-password-operators {
        margin-top: 20px;
        text-align: center;
    }
}

.reset-password-container{
    .reset-password-operators {
        margin-top: 20px;
        text-align: center;
    }
}

.enterprise-table{
    color: $normal-font-color;

    .enterprise-list-header{
        color: $white;
        font-weight: bold;
        background: $primary-color;
    }

    .column{
        width: 16.666%;
        display: inline-block; 
        height: 40px;
        padding: 10px;
        border-bottom: 1px solid $grey;
        vertical-align: middle;

        .btn{
            margin-right: 10px;
        }
    }
}
