.chain-list {
    color: $normal-font-color;

    & > .title {
        padding: 0 20px;
    }

    .chain {
        padding: 10px;
        display: -webkit-inline-box;
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: flex;
        justify-content: left;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        flex-wrap: wrap;
        -webkit-box-align: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        position: relative;

        & > .operators{
             position: absolute;
                top: 10px;
                left: 10px;
                text-align: center;
                display: none;

                & > span{
                    padding: 6px 20px !important;
                    font-size: 16px;
                }
        }

         &.locked{
             .chain-node{
                    background: $primary-color-light;
                    border-color: $white;

                    &::after {
                         background: $primary-color-light;
                         border-color: $white;
                    }

                    &:last-child {
                        border-color: $white;
                    }
             }
         }

         &.confirmed{
              .chain-node{
                    background: $primary-color;
                    color: $white;
                    border-right: 1px solid $white;
                    
                    .title {
                        color: $white;
                    }

                     &::after {
                         background: $primary-color;
                         border-color: $white;
                     }
                }
        }

        &.locked:hover,
        &.open:hover {
                cursor: pointer;

                .chain-node{
                    background: $pink;

                     &::after {
                         background: $pink;
                         border-color: $primary-color;
                     }
                }

                & > .operators {
                    display: block;
                    z-index: 99;
                }

                & > .operators-overlay {
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0.8;
                    z-index: 98;
                }
        }

        &.locked:hover{
             .chain-node{
                   &::after {
                         border-color: $white;
                    }
              }
        }

        &.reject {
            .chain-node {
                background: $red;
                color: $white;

                .title {
                    color: $white;
                }
            }
        }

        .chain-node {
            border-color: $primary-color;
            border-width: 1px 0 1px 1px;
            border-style: solid;
            padding: 20px 15px;
            position: relative;
            min-height: 80px;
            color: $normal-font-color;

            &.accept {
                background: $primary-color;
                color: $white;
                border-right: 1px solid $white;

                .title {
                    color: $white;
                }
            }


            &::after {
                display: block;
                position: absolute;
                z-index: 2;
                content: '';
                top: 50%;
                right: 0%;
                border: medium none;
                background-color: #ffffff;
                width: 1.14285714em;
                height: 1.14285714em;
                border-style: solid;
                border-color: $primary-color;
                border-width: 0px 1px 1px 0px;
                transition: background-color 0.1s ease, opacity 0.1s ease, color 0.1s ease, box-shadow 0.1s ease;
                transform: translateY(-50%) translateX(50%) rotate(-45deg);
            }

            &:first-child {
                border-radius: 3px 0 0 3px;
            }

            &:last-child {
                border-radius: 0 3px 3px 0;
                border: 1px solid $primary-color;

                &::after {
                    display: none;
                }
            }

            .title {
                font-size: 18px;
                font-weight: bold;
                color: $primary-color;
            }

            .sub-title{
                font-size: 10px;
            }

            .operators {
                position: absolute;
                top: 50%;
                left: 0;
                width: 100%;
                text-align: center;
                display: none;
                transform: translateY(-50%);

                span {
                    margin: 0 5px;
                }
            }

            &:hover {
                .operators {
                    display: block;
                    z-index: 99;
                }

                .operators-overlay {
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: $pink;
                    opacity: 0.8;
                    z-index: 98;
                }
            }
        }
    }
}


.chain-list-manager-container {

    .form-item {
        color: $normal-font-color;
        padding: 10px 0;
        border-bottom: 1px solid $normal-font-color;

        .items {
            list-style-type: none;
            display: inline-block;
            padding: 0;

            & > div {
                display: inline-block;
                margin: 0 15px;

                .item {
                    padding: 6px 15px;
                    border-radius: 3px;
                    text-decoration: none;
                    border: 1px solid $normal-font-color;
                    color: $normal-font-color;
                    display: inline-block;


                    &:hover {
                        background: $white;
                        color: $primary-color;
                        border: 1px solid $primary-color;
                        cursor: pointer;
                    }

                    &.active {
                        color: $white;
                        background: $primary-color;
                        border: 1px solid $primary-color;
                    }
                }
            }
        }
    }

    .chain-list-container
    {
        padding: 20px 0;
    }
}
