$primary-color: #0dc5b9;
$normal-font-color: #999;
$pink: #eaecf0;
$red: #e6626c;
$error-color: #bd362f;
$info-color: #2f96b4;
$success-color: #51a351;
$warning-color: #f89406;
$orange: #e0855c;
$white: #ffffff;
$grey: #f5f6f7;
$primary-color-opacity: rgba(13, 197, 185, 0.3);
$primary-color-light: #aaE8E8;