//theme1
// $primary-color: #0dc5b9;
// $primary-color-opacity: rgba(13, 197, 185, 0.3);
// $primary-color-light: #aaE8E8;

// theme2
// $primary-color: #f08036;
// $primary-color-opacity: rgba(237, 97, 4, 0.4);
// $primary-color-light: #f8c09a;

//theme3
// $primary-color: #f7787a;
// $primary-color-opacity: rgba(247, 120, 122, 0.4);
// $primary-color-light: #fcc9ca;

//theme 4
// $primary-color: #51a351;
// $primary-color-opacity: rgba(81, 163, 81, 0.5);
// $primary-color-light: #96c896;

//theme 5
// $primary-color: #cf6766;
// $primary-color-opacity: rgba(207 , 103 , 102, 0.3);
// $primary-color-light: #f1d1d1;

// $primary-color: #57bc90;
// $primary-color-opacity: rgba(87 , 188 , 144, 0.6);
// $primary-color-light: #9ad7bc;


// $primary-color: #49B882;
// $primary-color-opacity: rgba(73 , 184 , 130, 0.4);
// $primary-color-light: #b6e3cd;

$primary-color: #011c3a;
$primary-color-opacity: #e7e7e7;
$primary-color-light: #e7e7e7;
$primary-color-opacity-new: rgba(1,28,58, 0.6);
$header-background: rgba(0,0,0, 0.8);

//$normal-font-color: #999;
$normal-font-color: #52494a;
$pink: #eaecf0;
$red: #e6626c;
$error-color: #bd362f;
$info-color: #2f96b4;
$success-color: #51a351;
$warning-color: #ffb400;
$orange: #e0855c;
$white: #ffffff;
$grey: #f5f6f7;

$grey-border: rgb(234, 234, 234);