.filter-container {
    padding: 0 10px;

    .filter-btn {
        display: none;
    }

    .selected-filter-container {
        padding: 5px 0;
        color: $normal-font-color;
        border-bottom: 1px solid $normal-font-color;

        .selected-filter {
            display: inline-block;
            padding: 2px 5px;
            margin-right: 5px;
            border: 1px solid $normal-font-color;

            &:hover {
                border: 1px solid $primary-color;
                color: $primary-color;

                .filter-remove {
                    color: $normal-font-color;
                }
            }

            .filter-remove {
                left: 2px;
                top: 2px;

                &:hover {
                    cursor: pointer;
                    color: $primary-color;
                }
            }
        }
    }

    .filter-content {
        position: relative;

        & > .right-selector {
            position: absolute;
            top: 0;
            right: 30px;

            & > span {
                margin-left: 10px;

                &.retract {
                    display: none;
                }
            }
        }

        .close {
            display: none;
        }

        .filter-content-overlay {
            display: none;
        }

        &.in {
            & > .right-selector {
                .more {
                    display: none;
                }

                .retract {
                    display: block;
                }
            }

            & > ul{
                height: auto;
            }
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            span.title {
                display: inline-block;
                width: 80px;
                color: $normal-font-color;
                vertical-align: top;
                line-height: 40px;
            }

            div.title {
                height: 50px;
                color: $normal-font-color;
                line-height: 50px;
                font-size: 15px;
                border-bottom: 1px solid $normal-font-color;
            }

            .filter-category {
                border-bottom: 1px solid $normal-font-color;
                padding: 0 10px;
                position: relative;
                height: 40px;
                overflow: hidden;

                &.collapsed {
                    height: auto;

                    .right-selector {
                        .retract {
                            display: inline-block;
                        }

                        .more {
                            display: none;
                        }
                    }
                }

                &.multiple-selected {
                    .right-selector {
                        .multiply {
                            display: none;
                        }
                    }

                    .operator-btn {
                        display: block;
                    }

                    .checkbox.filter-checkbox {
                        display: inline-block;
                        margin: 0 2px 0 0;
                    }
                }

                .right-selector {
                    position: absolute;
                    right: 0;
                    top: 6px;

                    span {
                        margin-right: 10px;
                        cursor: pointer;

                        &:hover {
                            color: $primary-color;
                        }
                    }

                    .retract {
                        display: none;
                    }

                    .more {
                        display: inline-block;
                    }
                }
            }

            .input-filter {
                padding: 0 10px;

                input[type=text] {
                    margin-left: 20px;
                    margin-top: 7px;
                }

                .submit-filter {
                    margin-left: 20px;

                    &:hover {
                        color: $primary-color;
                    }
                }
            }

            &.items {
                display: inline-block;
                color: #666;
                border: none;
                width: calc(100% - 210px);

                li {
                    padding: 0;
                    margin: 0 20px;
                    display: inline-block;
                    line-height: 40px;

                    a {
                        cursor: pointer;
                        color: #666;

                        &:hover {
                            color: $primary-color;
                            text-decoration: none;
                        }

                        .checkbox.filter-checkbox {
                            display: none;
                            position: relative;
                            margin-right: 2px;

                            span,
                            input[type=checkbox] {
                                top: 3px;
                                margin-left: 0;
                            }
                        }
                    }
                }
            }

            .operator-btn {
                text-align: center;
                margin: 20px 0;
                display: none;

                span {
                    margin-right: 10px;
                    cursor: pointer;

                    &:hover {
                        color: $primary-color;
                    }
                }

                span.calloff {
                    background: #999;
                    color: $white;
                }

                span.calloff:hover {
                    background: $white;
                    border: 1px solid #999;
                    color: #999;
                }
            }
        }

        & > ul {
            padding: 0 20px;
            height: 0;
            overflow: hidden;
            transition: all linear 1s;
        }
    }
}

.btn {
    color: $white;
    background: $primary-color;
    border: 1px solid $primary-color;
    padding: 3px 12px !important;

    &:hover {
        color: $primary-color;
        background: $white;
        border: 1px solid $primary-color;
    }
}

@media (max-width: 568px) {

    .filter-container {
        position: relative;
        border: none;

        .filter-btn {
            display: block;
            width: 60px;
        }

        .filter-content {
            position: fixed;
            top: 0;
            width: 90%;
            height: 100%;
            left: -90%;
            transition: left 0.3s;
            z-index: 99;
            background: $pink;

            &.in {
                left: 0;

                & > .right-selector {
                    display: none;
                }

                & + .filter-content-overlay {
                    display: block;
                    position: fixed;
                    width: 100%;
                    height: 100%;
                    z-index: 98;
                    top: 0;
                    left: 0;
                    opacity: 0;
                }

                & > ul {
                    border: none;
                    padding: 0 10px;
                    height: auto;

                    .filter-category {
                        height: auto;

                        .items {
                            width: calc(100% - 120px);

                            & > li {
                                margin: 0 10px;

                                & > a > span {
                                    background: $white;
                                    border: 1px solid $primary-color;
                                    padding: 5px 6px;
                                    color: $primary-color;
                                    border-radius: 4px;

                                    &:hover {
                                        color: $white;
                                        background: $primary-color;
                                    }
                                }
                            }
                        }

                        .right-selector {
                            .more {
                                display: none;
                            }
                        }
                    }
                }
            }

            .close {
                display: inline-block;
                position: absolute;
                top: 5px;
                right: 5px;
                color: $normal-font-color;
                cursor: pointer;
                font-size: 15px;

                &:hover {
                    color: $primary-color;
                }
            }
        }
    }
}
