#filter_container {
    padding: 0 10px;

    .selected-filter-container {
        padding: 5px 0;

        .selected-filter {
            display: inline-block;
            padding: 2px 5px;
            margin-right: 5px;
            border: 1px solid $primary-color;
        }
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        border: 1px solid #999;

        span.title {
            display: inline-block;
            width: 80px;
            color: #999;
        }

        .filter-category {
            border-bottom: 1px solid #999;
            padding: 10px;
            position: relative;
            height: 19px;
            overflow: hidden;

            &:last-child {
                border-bottom: none;
            }

            &.collapsed {
                height: auto;

                .right-selector {
                    .retract {
                        display: inline-block;
                    }

                    .more {
                        display: none;
                    }
                }
            }

            &.multiple-selected {
                .right-selector {
                    .multiply {
                        display: none;
                    }
                }

                .operator-btn {
                    display: block;
                }

                .checkbox.filter-checkbox {
                    display: inline-block;
                }
            }

            .right-selector {
                position: absolute;
                right: 0;
                top: 10px;

                span {
                    margin-right: 10px;
                    cursor: pointer;

                    &:hover {
                        color: $primary-color;
                    }
                }

                .retract {
                    display: none;
                }

                .more {
                    display: inline-block;
                }
            }
        }
    }

    ul.items {
        display: inline-block;
        color: #666;
        border: none;

        li {
            padding: 0;
            margin-left: 20px;
            display: inline-block;

            a {
                cursor: pointer;

                &:hover {
                    color: $primary-color;
                }

                .checkbox.filter-checkbox {
                    display: none;
                    position: relative;
                    margin-right: 2px;

                    span,
                    input[type=checkbox] {
                        top: 2px;
                    }
                }
            }
        }
    }

    .operator-btn {
        text-align: center;
        margin-top: 20px;
        display: none;

        span {
            margin-right: 10px;
            cursor: pointer;

            &:hover {
                color: $primary-color;
            }
        }
    }
}
