.forms{
    padding: 0 20px;

.form-type {
    color: $normal-font-color;
    padding: 10px 0;
    border-bottom: 1px solid $normal-font-color;

    .items {
        list-style-type: none;
        display: inline-block;
        padding: 0;

        & > div {
            display: inline-block;
            margin: 0 15px;

            .item {
                padding: 6px 15px;
                border-radius: 3px;
                text-decoration: none;
                border: 1px solid $normal-font-color;
                color: $normal-font-color;
                display: inline-block;


                &:hover {
                    background: $white;
                    color: $primary-color;
                    border: 1px solid $primary-color;
                    cursor: pointer;
                }

                &.active {
                    color: $white;
                    background: $primary-color;
                    border: 1px solid $primary-color;
                }
            }
        }
    }
}

.form-content {
    .form-content-group {
        margin-top: 20px;


        .title {
            color: $normal-font-color;
        }

        .form-item-list {
            border: 1px solid $normal-font-color;
            border-radius: 5px;
            padding: 0 20px;
            margin-top: 10px;

            .form-item {
                @extend .form-type;
                padding: 10px 0;


                .items {
                    & > div {
                        .item {
                            padding: 4px 15px;
                        }
                    }
                }

                .input-group {
                    width: 40%;
                    min-width: 300px;

                    .input-group-addon {
                        background: $primary-color;
                        color: $white;
                    }
                }

                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }

    .operators {
        text-align: center;
        margin-top: 20px;

        .btn {
            padding: 8px 20px !important;
            margin: 15px;
        }
    }
}
}
