.header {
    width: 100%;
    background: $header-background;
    height: 70px;
    position: fixed;
    box-shadow: 0 0 3px $header-background;
    top: 0;
    left: 0;
    z-index: 999;

    nav {
        margin: 0 auto;
        margin-bottom: 20px;
        background: transparent;
        border-radius: 0;
        border: none;

        &.navbar-default{

            .navbar-header{
                .navbar-brand{
                    padding: 7px;

                    img{
                        height: 50px;    
                    }
                }
            }
            
            .navbar-nav {
               & > li {

                       & > a {
                            color: $white;
                            font-size: 18px;

                            &:hover{
                                color:$white !important;
                                border-bottom: 3px solid $warning-color; 
                                padding-bottom: 22px;
                            }
                        }
                    }
                }
        }

        .navbar-nav {
            li {

                &.small{

                    a{
                        padding-top: 5px;
                        padding-bottom: 5px;
                        border: 1px solid $white;
                        border-radius: 3px;
                        margin: 20px 10px 0 0;

                        &:hover{
                            border: 1px solid $warning-color; 
                            color: $warning-color;
                            padding-bottom: 5px;
                        }
                    }
                }

                a {
                    color: $white;
                    font-size: 18px;
                    padding-top: 25px;
                    padding-bottom: 25px;

                    &:focus,
                    &:hover{
                        color: $white !important;
                    }
                }
            }
        }
    }

    .btn-group {
        margin-top: 20px;

        .btn {
            background: transparent;
            border: none;
            font-size: 18px;
            color: $white;

            &:focus,
            &:hover {
                background: transparent;
            }
        }

        .btn-default {
            &.dropdown-toggle {
                box-shadow: none;
                background: transparent !important;
                color: $white !important;
            }
        }

        &.open {
            & > .btn-default {
                &.dropdown-toggle {
                    background: transparent !important;
                    color: $white !important;

                    &:active,
                    &:focus,
                    &:hover {
                        background: transparent;
                        color: $white;
                    }
                }
            }
        }

        .dropdown-menu {
            top: 145%;

            & > li > a {
                color: $normal-font-color;
                padding-top: 5px;
                padding-bottom: 5px;

                &:hover {
                    background: $header-background;
                    color: $white;
                }
            }
        }
    }
}
