.header {
    width: 100%;
    background: $primary-color;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    nav {
        max-width: 1170px;
        margin: 0 auto;
        margin-bottom: 20px;
        background: $primary-color;
        border-radius: 0;
        border: none;

        &.navbar-default{
            .navbar-nav {
               & > li {

                       & > a {
                            color: $white;
                            font-size: 18px;

                            &:hover{
                                color:$white !important;
                                border-bottom: 3px solid $warning-color; 
                                padding-bottom: 12px;
                            }
                        }
                    }
                }
        }

        .navbar-nav {
            li {

                &.small{

                    a{
                        padding-top: 5px;
                        padding-bottom: 5px;
                        border: 1px solid $white;
                        border-radius: 3px;
                        margin: 10px 10px 0 0;

                        &:hover{
                            border: 1px solid $warning-color; 
                            color: $warning-color;
                            padding-bottom: 5px;
                        }
                    }
                }

                a {
                    color: $white;
                    font-size: 18px;

                    &:focus,
                    &:hover{
                        color: $white !important;
                    }
                }
            }
        }
    }

    .btn-group {
        margin-top: 10px;

        .btn {
            background: $primary-color;
            border: none;
            font-size: 18px;
            color: $white;

            &:focus,
            &:hover {
                background: $primary-color;
            }
        }

        .btn-default {
            &.dropdown-toggle {
                box-shadow: none;
                background: $primary-color !important;
                color: $white !important;
            }
        }

        &.open {
            & > .btn-default {
                &.dropdown-toggle {
                    background: $primary-color !important;
                    color: $white !important;

                    &:active,
                    &:focus,
                    &:hover {
                        background: $primary-color;
                        color: $white;
                    }
                }
            }
        }

        .dropdown-menu {
            top: 120%;

            & > li > a {
                color: $normal-font-color;

                &:hover {
                    background: $primary-color;
                    color: $white;
                }
            }
        }
    }
}
