@import 'colors';
@import 'header';
@import 'checkbox';
@import 'filter';
@import 'requirement';
@import 'chain';
@import 'form';

body{
     background: $grey !important;
}

.main-wrapper{
    min-height: calc(100vh - 80px);
    background: #fff;
    padding: 20px;
}