@import 'colors';
@import 'btn';
@import 'component';
@import 'popup';
@import 'spinner';
@import 'header';
@import 'checkbox';
@import 'home';
@import 'filter';
@import 'requirement';
@import 'chain';
@import 'form';
@import 'account';
@import 'footer';
@import 'contact';

body{
     background: $grey !important;
}

.main-wrapper{
    min-height: calc(100vh - 80px);
    background: #fff;
    padding: 20px;
    margin-top: 70px;
}