#filter_container {
    border: 1px solid #999;
    padding: 0 10px;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        span.title {
            display: inline-block;
            width: 80px;
            color: #999;
        }

        .filter-category {
            border-bottom: 1px solid #999;
            padding: 10px;
            position: relative;
            height: 19px;
            overflow: hidden;
            &:last-child {
                border-bottom: none;
            }
        }
    }

    ul.items {
        display: inline-block;
        color: #666;

        li {
            padding: 0;
            margin-left: 20px;
            display: inline-block;

            a {
                cursor: pointer;

                &:hover {
                    color: #0f7192;
                }
            }
        }
    }

    .right-selector {
        position: absolute;
        right: 0;
        top: 10px;

        span {
            margin-right: 10px;
            cursor: pointer;

            &:hover {
                color: #0f7192;
            }
        }
    }

    .operator-btn {
        text-align: center;
        margin-top: 20px;
        
        span {
            margin-right: 10px;
            cursor: pointer;

            &:hover {
                color: #0f7192;
            }
        }
    }
}
